.contact {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding-top: 150px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12); */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
}

input, textarea {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
button {
  font-size: 1.1em;
  padding: 10px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

button:hover {
  background-color: var(--primary-color);
}

