.home{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-top: 100px;
}
.home .left{
  flex: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home .left h2 {
  font-size: 3rem;
  color: #333;
  font-weight: 300;
  margin-bottom: 20px;
}
.home .left h1 {
  font-size: 5rem;
  color:var(--secondary-color);
  font-weight: 500;
  /* margin-bottom: 20px; */
}
.home .right{
  flex: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.home .right img{
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
 
}
@media(max-width:1000px){
  .home{
    flex-direction: column;
  }
  .home .left{
    width: 100%;
    margin-top: 100px;


  }
  .home .left h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .home .left h1 {
    font-size: 2rem;
    color:var(--secondary-color);
    font-weight: 500;
    /* margin-bottom: 20px; */
  }
  .home .right{
    margin-top: 20px;
  }

}


@media(max-width:1000px){
  .home .left h2 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .home .left h1 {
    font-size: 1.5rem;
    color:var(--secondary-color);
    font-weight: 500;
    /* margin-bottom: 20px; */
  }

}





