.projects {
  padding-top: 200px;
  width: 100%;
}

.allprojects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
 
}
.projectcard {
  background-color: #ffffff;  
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0 , 0, 0, 0.1);
  transition: transform 0.2s ease ,box-shadow 0.2s ease;
  width: 300px;
  margin: 20px;
  text-align: center;
}
.projectcard:hover{
  transform:translateY(-5px);
  box-shadow: 0 8px 16px rgba(0 , 0, 0, 0.2); 
}
.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}
.projectcard h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #333;
}

.projectcard p {
  font-size: 1rem;
  color: #777;
  margin: 15px 0;
}
.skills{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;

}
/* Html css js WALA ICON  ko color ka PART HAI  */
.skills i {
  font-size: 1.5rem;
  color: #333;
}
/* github wala button hai  */
.btn {
  padding: 10px 20px;
  margin: 15px 0;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  margin-top: 25px;
}
